.card{
  width: 30rem;
  height:35rem ;
  margin: 50px 500px 50px 500px;
  padding: 10px 10px 10px 10px;
  background-color: #C7D3D4FF  ;
}

.card-img-top{
  width:30rem;
}

.card-title{
  margin: 1rem 2rem 2rem 5rem;
  color:#567572FF;
}

.card-text{
  margin: 2rem 2rem 2rem 2rem;
  color:#567572FF;
  font-size: 1.1em;
}

.pos-but{
  margin: 1rem 2rem 3rem 8rem;
}
